body{
  font-family: Helvetica;
}
:root{
  --primary: #fff;
}

/* Navbar */

.logo{
  width: 3rem;
  height: 3rem;
}
.logo:hover{
  border: 2px solid orange;
}
/* New Links */
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-family: Helvetica;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav li a{
  color: var(--primary);
  padding-left: 2em;
}
.navbar-nav li a:hover{
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  color: aqua;
 
}
